DJANGO_SECRET_KEY=django-insecure-dev-key-CHANGE-IN-PRODUCTION
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1
EMAIL_HOST_USER=juanmanuelmarquezjimenez9@gmail.com
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=juanmanuelmarquezjimenez9@gmail.com